<body>
    <header>
        <div class="container">
            <p class="logo">Registro y control de trabajos de titulación</p>
            <nav>
                <a routerLink="/principal">Inicio</a>
                <a routerLink="/registro-trabajos">Registro</a>
                <a routerLink="/control">Control</a>
            </nav>
        </div>
    </header>
    <div class="buscar">
      <input type="text" placeholder="Buscar" required />
      <div class="btn">
        <i class="fas fa-search icon"></i>
      </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; Registro y Control de trabajos de titulación 2022</p>
        </div>
    </footer>
  </body>