<body>
    <header>
        <div class="container">
            <p class="logo">Registro y control de trabajos de titulación</p>
            <nav>
                <a routerLink="/principal">Inicio</a>
                <a routerLink="/registro-trabajos">Registro</a>
                <a routerLink="/control">Control</a>
            </nav>
        </div>
    </header>
    <section id="reg">
        <h2>Consulta tu registro <br> aqui.</h2>
        <a routerLink="/consulta" class="bt">Consulta</a>
    </section>   
    <section id="reg2">
        <h2>Imprime tu registro <br> aqui.</h2>
        <a routerLink="/imprimir" class="bt">Imprimir</a>
    </section>
    <footer>
        <div class="container">
            <p>&copy; Registro y Control de trabajos de titulación 2022</p>
        </div>
    </footer>
</body>
